<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
		  	<label for="fname">Author</label>
			<input type="text" id="fname" th:field="*{author}" />
			<div style="clear: both; display: block; height: 15px;"></div>
		  	<label for="lname">Title</label>
			<input type="text" id="lname" th:field="*{title}" />
			<div style="clear: both; display: block; height: 15px;"></div>
		  	<label for="email">ISBN</label>
			<input type="text" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 15px;"></div>
			<label for="email">Year</label>
			<input type="text" th:field="*{year}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="deplist">Category</label>
			 <select id="deplist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
    		</select>
			
			<div style="clear: both; display: block; height: 15px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>